@import 'tailwindcss';
@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-my-bg text-my-text text-sm;
}

@theme{
    /* lightmode */
    --color-my-bg: #eaeaea;
    --color-my-text: #1E293B;
    --color-my-border: #E2E8F0;
    --color-my-blue: #0066FF;
    --color-surface: #F8FAFC;
    --color-hijau: #0B7077;
    --color-grey1: #777795;
    --color-grey2: #4D4D4D;
    --color-grey3: #438abc;
    --color-jingga: #FD661F;
    --color-indoRed: #EA4F57;

    /* darkmode */
    --color-my-bg-dark: #1A202C;
    --color-my-text-dark: #E2E8F0;
    --color-my-border-dark: #4A5568;
    --color-my-blue-dark: #00BFFF;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    /* background: ${darkMode ? '#374151' : '#c7d2fe'}; */
    border-radius: 8px;
    border: 2px solid;
    @apply bg-[#374151] dark:bg-[#c7d2fe] border-[#1f2937] dark:border-[#f1f5f9];
}
::-webkit-scrollbar-track {
    background: transparent;
}
/* Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #c7d2fe #f1f5f9;
    /* scrollbar-color: ${darkMode ? '#374151 #1f2937' : '#c7d2fe #f1f5f9'}; */
    /* @apply scrollbar-thumb-[#374151] dark:scrollbar-thumb-[#c7d2fe] scrollbar-track-[#1f2937] dark:scrollbar-track-[#f1f5f9]; */
}
.asidebar-hidden{
  left: -100%;
  transition: all 0.3s ease-in-out;
}


/* think to style mobile first */
/* for asidebar */
@media screen and (width <= 768px) {
  .asidebar {
    @apply absolute;
  }
  .flexAt768{
    @apply flex;
  }
}

/* for topbar */
@media screen and (width <= 915px) {
  .hideAtMobile {
    @apply hidden;
  }
  .flexAtMobile {
    @apply flex;
  }
    
}

/* laptop */
@media screen and (width >= 1050px) {
  :root {
    @apply text-base;
  }
    
}

/* 4k up screen */
@media screen and (width >= 1441px) {
  :root {
    @apply text-xl;
  }
    
}



@keyframes fadeIn { 
    from { 
        opacity: 0; transform: translateY(10px);
    } to { 
        opacity: 1; transform: none; 
    } 
}
                
.animate-fadeIn { animation: fadeIn 0.4s; }

.raleway-base {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.raleway-thin {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}







